@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
  }
/* Ensure the page has a default background during loading */
body.app-loading {
  background-color: #000; /* Match your dark theme */
  color: #fff; /* Ensure contrast */
  transition: none; /* Disable flickering */
}
